#notice {
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 5px;
  width: 600px;
  padding: 5px;
  border: 2px solid #7fdf55;
}

#rules {
  width: 600px;
  height: 130px;
  padding: 5px;
  border: 2px solid #7fdf55;
  border-radius: 5px;
}

.area {
  width: 500px;
  background-color: antiquewhite;
  border: 4px solid #7fdf55;
  margin: auto;
}
