.image-container {
  display: flex;
  flex-flow: row mowrap;
  width: 100%;
}

img {
  float: left;
  width: 150px;
  height: 150px;
  margin: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img[alt=""] {
  border: 2px solid green;
}

/* importNode styles */

button {
  padding: 8px 12px;
  background-color: cadetblue;
  color: bisque;
  border: 1px solid darkcyan;
}
